.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .signup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba($color: #000000, $alpha: 0.15);
    border: 1px solid var(--border-color);

    .signup-content-forms {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 3vh;

      .signup-content-forms-inputs,
      .signup-content-forms-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 1vh;
      }

      .signup-content-forms-buttons span {
        font-size: clamp(1vh, 0.8vw, 2vh);

        a {
          text-decoration: none;
          color: var(--anchor-text);
        }
      }
    }
  }
}