@use '../../../styles.scss' as *;

.container {
  @include center-flex;
  width: 100%;
  height: 100%;

  .login-content {
    @include center-flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba($color: #000000, $alpha: 0.15);
    border: 1px solid var(--border-color);
    background-color: var(--overlay-color);

    .login-content-forms {
      @include center-flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 3.5vh;

      .login-content-forms-inputs,
      .login-content-forms-buttons {
        @include center-flex;
        flex-direction: column;
        width: 100%;
        gap: 1vh;
      }

      .login-content-forms-buttons span {
        color: var(--secondary-text);
        font-size: clamp(1vh, 0.8vw, 2vh);

        a {
          text-decoration: none;
          color: var(--primary-text);
        }
      }
    }
  }
}