<div class="container">
  <div class="lateral-menu-header">
    <a href="">
      <img src="../../../assets/icons/iot-manager-logo.svg" alt="logo">
      <span>IoT Manager</span>
    </a>
  </div>
  <ol class="lateral-menu-list">
    <li class="lateral-menu-list-item">
      <a href="devices" class="lateral-menu-list-item">
        <img src="../../../assets/icons/devices-icon.svg" alt="devices">
        <span>Dispositivos</span>
      </a>
    </li>
    <li class="lateral-menu-list-item">
      <a href="reports" class="lateral-menu-list-item">
        <img src="../../../assets/icons/report-icon.svg" alt="report">
        <span>Alertas</span>
      </a>
    </li>
    <li class="lateral-menu-list-item">
      <a href="dashboard" class="lateral-menu-list-item">
        <img src="../../../assets/icons/dashboard-icon.svg" alt="dashboard">
        <span>Dashboard</span>
      </a>
    </li>
  </ol>
</div>