@use '../../../styles.scss' as *;

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5vh;
  border-right: 1px solid var(--border-color);
  background-color: var(--overlay-base-color);

  .lateral-menu-header a {
    @include center-flex;
    flex-direction: column;
    width: 100%;
    padding: 2vh 0vw;
    border-bottom: 1px solid var(--border-color);

    img {
      height: 5vh;
    }

    span {
      font-family: "Lato Bold";
      color: var(--primary-text);
      font-size: clamp(2.5vh, 0.5vw, 4vh);
    }
  }

  .lateral-menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5vh;
    margin: 0;
    padding: 0;

    .lateral-menu-list-item {
      @include center-flex;
      cursor: pointer;
      flex-direction: column;
      gap: 1vh;
      width: 100%;

      img {
        height: 3vh;
      }

      span {
        font-weight: bolder;
        color: var(--primary-text);
        font-size: clamp(1.5vh, 0.5vw, 3vh);
      }
    }
  }
}