/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Lato Regular";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("./assets/fonts/Lato/Lato-Bold.ttf");
}

:root {
  --main-text: #2E2D2D;
  --anchor-text: rgb(0, 38, 255);
  --success-color: #10AC07;
  --success-color-hover: #1dbd14;
  --warning-color: #FFA600;
  --error-color: #D31818;
  --base-color: #FFFFFF;
  --border-color: #A9A9A9;
  --icon-color: #A9A9A9;
  --disabled-color: #EFEFEF;
}

* {
  font-family: "Lato Regular";
  color: var(--main-text);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--base-color);
}

.iot-manager-title {
  font-size: clamp(3vh, 0.8vw, 5vh);
  margin: 0;
}

.iot-manager-input {
  border: none;
  outline: none;
  padding: 1vh 0.5vw;
  width: 15vw;
  font-size: clamp(1vh, 0.8vw, 2vh);
  border-radius: 5px;
  border: 1px solid var(--border-color);

  &::placeholder {
    color: var(--border-color);
  }
}

.iot-manager-input {
  border: none;
  outline: none;
  padding: 1vh 0.5vw;
  width: 15vw;
  font-size: clamp(1vh, 0.8vw, 2vh);
  border-radius: 5px;
  border: 1px solid var(--border-color);

  &::placeholder {
    color: var(--border-color);
  }
}

.iot-manager-confirm-button {
  cursor: pointer;
  border-radius: 5px;
  padding: 1.5vh 6.5vw;
  border: none;
  background-color: var(--success-color);
  color: var(--base-color);
  font-size: clamp(1vh, 0.8vw, 2vh);
  transition: color 0.2s linear,
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    color: var(--base-color);
    background-color: var(--success-color-hover);
    transform: scale(1.05);
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.25);
  }
}